*{
	margin: 0;
	padding: 0;
	list-style:none;
}
.startInterface,
.mainInterface,
.overInterface{
	width:100%;
	height:750px;
	position:absolute;
	left:0;
	top:0;
}
.mainInterface,
.overInterface{
	display:none;
}
/* 开始游戏界面 */
.startInterface{
	z-index:999;
}
.startInterface .startBg{
	position:absolute;
	top:265px;
	left:645px;
	width:200px;
	height:145px;
	background-image: url(../images/startGame.png);
	background-size:100% 100%;
	background-position:0 -575px;
}
/* 进入游戏主界面 */
.mainInterface,
.startInterface{
	background-image: url(../images/bg.jpg);
	background-size:100% 100%;
}
.mainInterface .gameBtn{
	width:200px;
	height: 65px;
	color:#fff;
	font-weight:bolder;
	position:absolute;
	top:100px;
	left:0;
}
.mainInterface .gameBtn .infoText{
	float:left;
	margin-top:20px;
	text-shadow:5px 5px 5px #fff;
}
.mainInterface .gameBtn .pauseBtn{
	float:left;
	width:65px;
	height:65px;
	background-position: -16px -1px;
	background-image:url(../images/pause.png);
	background-size:cover;
}
.mainInterface .gameBtn .startBtn{
	float:left;
	width:65px;
	height:65px;
	background-position: -16px -1px;
	background-image:url(../images/start.png);
	background-size:cover;
}
.mainInterface .scoreInfo{
	position:absolute;
	left:535px;
	top:85px;
	color:#f2f2f2;
	font-weight:bold;
}
/* 游戏结束界面 */
.overInterface .overBg{
	position:absolute;
	top:198px;
	left:455px;
}
.overInterface .overBg img{
	width:607px;
	vertical-align:-3px;
	border-radius:18px;
}
.overInterface .overBg .close{
	position:absolute;
	top:1px;
	right:2px;
	width: 22px;
	height: 22px;
	border-radius:50%;
	background-image: url(../images/closeBtn.png);
	background-size:100% 100%;
}
.overInterface .overBg .countScore{
	width:80px;
	height:35px;
	line-height:35px;
	/*background-color:red;*/
	position:absolute;
	top:137px;
	left:226px;
	color:#000;
	font-weight:bolder;
	font-style:italic;
	font-size:28px;
	text-align:center;
	text-shadow:3px 3px 10px #000;
}
.mainMap{
	border:1px solid #000;
}
.apple{
	background-position: 0 -2px;
}
.snakeHead{
	background-image: url(../images/head.png);
	background-size:100% 100%;
}
.snakeBody{
	background-image: url(../images/body.png);
	background-size:100% 100%;
}