<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <style>
    * {
        margin: 0;
        padding: 0;
    }

    [v-for] {
        color: #f40;
    }
    </style>
    <div id="app">
        <h3>排名</h3>
        <ul>
            <li v-for="(num, index) in arr">{{num}}({{index}})</li>
        </ul>
        <p v-for="(value,prop,index) in obj">{{ value }}({{prop}})({{index}})</p>
        <button v-on:click="changeNumber">click me!</button>
    </div>
    <script src="vue.js"></script>
    <script>
    var app = new Vue({
        el: '#app',
        data: {
            arr: [1, 2, 3, 4],
            obj: {
                name: 'dzz',
                age: 19
            }
        },
        methods: {
        	changeNumber: function() {
        		this.arr[0] = 11;
        		//js无法通过数组的成员变化来进行检测,而是通过地址的变化来检测数组是否变化的
        		//这里由于vue实例上arr所指向的那片内存地址没有改变,即使我们使得它成员的值发生变化也不会使得DOM重新渲染数据
        		console.log(this.arr[0])//11

        		//若想动态改变DOM,利用vue内部提供的方法
        		// Vue.set(this.arr, 0, 11)

        		//注意:在vue中,利用数组的push方法,可以检测到数组成员的变化,因为vue中重写了一份push源码,从而可以根据数组成员的值变化来动态渲染DOM
        		//除此之外还有 reverse sort splice都进行了重写,从而可以重新渲染DOM
        		this.arr.push(5)
        	}
        }
    })
    </script>
</body>

</html>