<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="./bootstrap.min.css">
	<style>
		header {
			background-color: lightblue;
			margin-bottom: 20px;
			height: 40px;
		}
		h4 {
			line-height: 40px;
		}
		table {
			margin-top: 20px;
		}
		a {
			cursor: pointer;
		}
	</style>
</head>
<body>
	<div id="app">
		<header>
			<h4>添加品牌</h4>
		</header>
		<div class="form-inline">
			<div class="form-group">
				<label for="">ID:</label>
				<input type="text" class="form-control" v-model="id">
			</div>
			<div class="form-group">
				<label for="">Name:</label>
				<input type="text" class="form-control" v-model="name" @keyup.enter="addCar">
			</div>
			<button class="btn btn-default" @click.prevent="addCar">添加</button>
			<div class="form-group">
				<label for="">搜索关键字:</label>
				<input type="text" class="form-control" v-model="keywords">
			</div>
		</div>
		<table class="table table-bordered">
			<thead>
				<tr>
					<td>ID</td>
					<td>Name</td>
					<td>Ctime</td>
					<td>Oparation</td>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(item, index) in search(keywords)" :key="item.id">
					<td>{{item.id}}</td>
					<td>{{item.name}}</td>
					<td>{{item.ctime | formateDate}}</td>
					<td>
						<a @click.prevent="delCar(item.id)">删除</a>
					</td>
				</tr>
			</tbody>
		</table> 

	</div>
	<script src="vue.js"></script>
	<script>
		//进行时间的格式化
		//全局的过滤器,所有vue实例都可以用
		Vue.filter('formateDate', function(dataStr) {
			//根据给定的时间字符串得到待定的时间
			let date = new Date(dataStr)
			let year = date.getFullYear();
			//padStart(len, string)，向字符串的头部进行补全,补全后的字符串长度为指定的len
			let month = (date.getMonth() + 1).toString().padStart(2, 0);
			let day = date.getDate().toString().padStart(2, 0);
			let hour = date.getHours().toString().padStart(2, 0);
			let minutes = date.getMinutes().toString().padStart(2, 0);
			let seconds = date.getSeconds().toString().padStart(2, 0);
			return `${year}-${month}-${day} ${hour}:${minutes}:${seconds}`
		})

		//自定义指令
		Vue.directive('focus', {
			//在每个函数中,第一个参数el,表示被绑定了指令的那个元素,是个原生的js对象
			bind(el) {
				//每当指令绑定到元素上时,会立即执行该函数,只执行一次,一般用于初始化
				//在元素刚绑定了该指令时,由于还没有插入到DOM中,故调用focus无效果

			},
			inserted() {//表示元素插入到DOM中(在页面中渲染出来)时会执行该函数,只执行一次

			},
			updated() {//当Vnode更新时,会执行该函数,执行多次

			}
		})
		let vm = new Vue({
			el: "#app",
			data() {
				return {
					list: [
						{id: 1, name: '宝马', ctime: new Date()},
						{id: 2, name: '玛莎拉蒂', ctime: new Date()},
						{id: 3, name: '奔驰', ctime: new Date()}
					],
					id: '',
					name: '',
					keywords: ''
				}
			},
			methods: {
				addCar() {
					if(this.id && this.name) {
						this.list.push({id: this.id, name: this.name, ctime: new Date()})
						this.id = this.name = '';
					}
				},
				delCar(id) {
					this.list.some((item, index) => {
						if( item.id === id) {
							this.list.splice(index, 1)
							return true;
						}
					})
					/*let index = this.list.findIndex((item, index) => {
						if( item.id === id) {
							return true;
						}
					})
					this.list.splice(index, 1);*/
				},
				search() {
					/*let newList = [];
					this.list.forEach((item, index) => {
						if( this.keywords.indexOf(item.name) !== - 1) {
							newList.push(item)
						}	
					})
					return newList;*/

					let newList = this.list.filter((item, index) => {
						if( item.name.includes(this.keywords) ) {
							return true;
						}
					})
					return newList
				}
			}
		})
	</script>
</body>
</html>